<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="public/style.css">
  <title>Rebound App</title>
</head>
<body>
  <div id="container">
    <ul>
      <li>Left-click to drop offense</li>
      <li>Right-click to drop defense</li>
      <li>Shift-click to drop shooter</li>
      <li>Signature stays behind as reference back to original play</li>
      <li>Hover over pins to see probability and match pin to signature</li>
    </ul>
    <h1 id="banner">Display</h1>
    <div id="ctrlpanel">
      <button id="run">Run</button>
      <button id="clear">Clear</button>
    </div>
  </div>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="public/script.js" charset="utf-8"></script>
</body>
</html>
